<a href="https://colab.research.google.com/github/zzambbang/programmers-de/blob/main/2%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%load_ext sql

In [4]:
# ID와 PW를 자신의 환경에 맞게 수정
%sql postgresql://guest:Guest1234@ssde.cnqux5xggmn5.us-east-2.redshift.amazonaws.com:5439/dev

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: guest@dev'

In [15]:
%%sql 
# 월별마다 액티브한 사용자들의 수를 카운트한다 (MAU)
# timestamp를 기준으로 natural join 한 후, 사용자를 distinct

select to_char(S.ts, 'yyyy-mm'), count(distinct U.userid) 
from raw_data.session_timestamp S
natural join raw_data.user_session_channel U
group by to_char(S.ts, 'yyyy-mm')
order by to_char(S.ts, 'yyyy-mm')
;

 * postgresql://guest:***@ssde.cnqux5xggmn5.us-east-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-05', 281),
 ('2019-06', 459),
 ('2019-07', 623),
 ('2019-08', 662),
 ('2019-09', 639),
 ('2019-10', 763),
 ('2019-11', 721)]

In [16]:
%%sql

select to_char(S.ts, 'yyyy-mm'), count(U.userid) 
from raw_data.session_timestamp S
natural join raw_data.user_session_channel U
group by to_char(S.ts, 'yyyy-mm')
order by to_char(S.ts, 'yyyy-mm')
;

 * postgresql://guest:***@ssde.cnqux5xggmn5.us-east-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-05', 6261),
 ('2019-06', 10520),
 ('2019-07', 14840),
 ('2019-08', 17151),
 ('2019-09', 15790),
 ('2019-10', 18899),
 ('2019-11', 18059)]